.infobar__helper {
    width: 49%;
    background: #F4F7F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

@media screen and (max-width: 520px) {
    .infobar__helper {
        width: 100%;
    }
  }