<div class="infobar" id="infobar">
  <div class="infobar__helper">
    <div class="infobar__header">
      <h3 class="infobar__title">Полезная информация</h3>
    </div>
    <p class="infobar__text">{{ request.META.quote.attrs.text }}</p>
    <p class="infobar__footer">{{ request.META.quote.attrs.source }} / {{ request.META.quote.attrs.article }} /</p>
  </div>
  <div class="infobar__informer">
    <div class="infobar__header">
      <h3 class="infobar__title">Фёдор Несмеянов</h3>
      <p class="infobar__date">20.03.2021</p>
    </div>
    <p class="infobar__text">
      Последнее предупреждение! Сделайте как я сказал и будет Вам счастье.
    </p>
  </div>
</div>