<div class="infobar" id="infobar">
  <div class="infobar__helper">
    <div class="infobar__header">
      <h3 class="infobar__title">Полезная информация</h3>
    </div>
    <p class="infobar__text">
      Когда я был маленький у меня тоже была бабушка,
      но за всю свою жизнь я не смог огорчить её. А он смог!
    </p>
  </div>
  <div class="infobar__informer">
    <div class="infobar__header">
      <h3 class="infobar__title">Фёдор Несмеянов</h3>
      <p class="infobar__date">20.03.2021</p>
    </div>
    <p class="infobar__text">
      Последнее предупреждение! Сделайте как я сказал и будет Вам счастье.
    </p>
  </div>
</div>