.form-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    margin-right: 20px;
}

@media screen and (max-width: 800px) {
    .form-container {
        margin-right: 0;
    }
}