.infobar {
    display: flex;
    justify-content: space-between;
    margin: 84px 20px 0 280px;
    }

@media screen and (max-width: 768px) {
    .infobar {
        margin: 84px 20px 0 20px;
    }
}

@media screen and (max-width: 520px) {
    .infobar {
        flex-direction: column;
    }
}