.infobar {
    display: flex;
    justify-content: space-between;
    margin: 84px 20px 0 270px;
    }
    
    /* @media screen and (max-width: 1200px) {
        .content {
            width: 95%;
        }
    } */