.single-fault__charge {
    border-top: 1px solid #C4C4C4;
    margin: 0 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}