.form__error {
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FF0000;
    justify-self: start;
    max-width: 400px;
    margin-bottom: 20px;
}
.form__error:before {
    content: '';
    flex-basis: 50%;
    height: 0;
}
.form__error:empty {
    display: none;
}
