.header {
    width: 100%;
    height: 80px; /* когда будет логотип этот размер убрать */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #A3CDDA;
    /* padding-top: 28px; */
  }