<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="Проект информационного сопровождения АПК">
        <meta name="keywords" content="модуль, производство, охрана труда, безопасность, контроль">
        <meta name="author" content="Сайгин Алексей">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} | Module</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
        {% block style %}{% endblock %}
    </head>

    <body>
        <div class="page">
            {% include 'mysite_apk/base_ext/header.html' %}
            {% include 'mysite_apk/base_ext/sidebar.html' with mark=request.resolver_match.kwargs.slug %}
            {% include 'mysite_apk/base_ext/infobar.html' %}
            {% block content %}{% endblock %}
            {% comment %} {% if page.has_other_pages %}
                {% include "mysite_apk/base_ext/paginator.html" %}
            {% endif %}       {% endcomment %}
            {% include 'mysite_apk/base_ext/footer.html' %}
        </div>
    </body>
</html>