.header__point {
    margin-right: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    transition: opacity .2s linear .1s;
    text-decoration: none;
    color: black;
}

.header__point:hover {
    opacity: 0.7;
}

@media screen and (max-width: 520px) {
    .header__point {
        font-size: 18px;
        line-height: 20px;
        margin-right: 25px;
    }
}