.footer__link {
    margin-right: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    transition: opacity .2s linear .1s;
    text-decoration: none;
    color: black;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 520px) {
    .footer__link {
        margin: 15px 20px;
    }
}