.content {
    margin: 24px 0 0 280px;
    min-height: calc(100vh - 326px); /* прижимаю футер к низу экрана */
}

@media screen and (max-width: 800px) {
    .content {
        margin: 24px 20px 0 20px;
    }
}