.content {
    margin: 24px 0 0 270px;
    min-height: calc(100vh - 326px); /* прижимаю футер к низу экрана */
    /* width: 100%; */
    /* margin: 0 auto 0 auto; */
}

/* @media screen and (max-width: 1200px) {
    .content {
        width: 95%;
    }
} */