.single-fault__location {
    width: 97%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: end;
    margin: 10px 0;
}

@media screen and (max-width: 800px) {
    .single-fault__location {
        font-size: 18px;
        line-height: 21px;
    }
}

@media screen and (max-width: 400px) {
    .single-fault__location {
        font-size: 16px;
        line-height: 19px;
    }
}