.sidebar {
    width: 220px;
    margin: 0 0 0 20px;
    position: fixed;
    height: 100%;
    z-index: 999999;
    /* overflow-y: scroll; */
}

@media screen and (max-width: 800px) {
    .sidebar {
        left: -245px;
        transition: left 0.3s;
        background-color: white;
        border: 1px solid grey;
        border-radius: 5px;
        height: auto;
    }
}

#checkbox:checked ~ .sidebar {
    left: 0;
}
