.icon-left {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 20px;
    height: 20px;
    background-image: url("../../../img/left.svg");
    background-repeat: no-repeat;
}
