{% extends "mysite_apk/base.html" %}

{% block title %}3 уровень АПК{% endblock %}

{% load static %}
{% comment %} {% load recipes_filters %} {% endcomment %}
{% csrf_token %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index-acts.css'%}">
{% endblock %}

{% block content %}
    <main class="content">
        <section class="main" id="main">
            <h1 class="main__title">Добавить новое несоответствие</h1>

            <!-- блок формы -->

            <div class="form-card">
                <form method="post">
                {% csrf_token %}
                <h5 class="form-title">Введите данные о несоответствии</h5>
                <div class="form-card-body">
                    <div class="form-group">
                    {{ form.as_p }}
                    </div>
                </div>
                <button type="submit" class="form-button">Добавить</button>
                </form>
            </div>

            <!-- конец блока формы -->
        </section>
    </main>
{% endblock %}