{% extends "mysite_apk/base.html" %}

{% block title %}{{ fault|yesno:"Редактировать несоответствие,Добавить новое несоответствие" }}{% endblock %}

{% load static %}
{% load apk_filters %}
{% csrf_token %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/fault-form.css'%}">
{% endblock %}

{% block content %}
    <main class="content">
        <section class="main" id="main">
            <h1 class="main__title">{{ fault|yesno:"Редактировать несоответствие,Добавить новое несоответствие" }}</h1>

            <!-- блок формы -->

            <div class="form-container"> 
                <form class="form" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %} 

                    {% with form.location as field %}
                        <div class="form__group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                            {{ field|addclass:'form__input' }}
                            {% include 'apk/apk_ext/form_extend/error.html' with field=field %}
                        </div>
                    {% endwith %}

                    {% with form.description as field %}
                        <div class="form__group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                            <label for="{{ field.id_for_label }}" class="form__label form__label_textarea">{{ field.label }}</label>
                            {{ field|addclass:'form__textarea' }}
                            {% include 'apk/apk_ext/form_extend/error.html' with field=field %}
                        </div>
                    {% endwith %}

                    {% with form.danger as field %}
                        <div class="form__group">
                            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                            {{ field|addclass:'form__checkbox' }}
                            {% include 'apk/apk_ext/form_extend/error.html' with field=field %}
                        </div>
                    {% endwith %}

                    {% with form.image_before as field %}
                        <div class="form__group">
                            <span class="form__label">Загрузить фото</span>
                            {{ field }}
                            <span class="form__error">{{ form.image_before.errors }}</span>
                        </div>
                    {% endwith %}

                    {% include "apk/apk_ext/button_ext/save_button.html" %} 
                </form> 
            </div>

            <!-- конец блока формы -->
        </section>
    </main>
{% endblock %}