{% extends "mysite_apk/base.html" %}

{% block title %}Главная страница{% endblock %}

{% load static %}
{% comment %} {% load recipes_filters %} {% endcomment %}
{% csrf_token %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="content">
        <article>
            Уважаемый посетитель!
            Вы находитесь в демонстрационной версии цифрового программного комплекса «Module» для информационного сопровождения АПК.
            Вам предоставлен гостевой доступ с возможностью добавления и редактирования актов, несоответствий и мероприятий без ограничений.
            Это сделано исключительно для ознакомления с возможностями системы. В продакшен-версии реализован ролевой доступ к возможностям комплекса.
            Например, несоответствие сможет редактировать только автор этого несоответствия.
            <hr>
            Если Вы используете мобильный телефон или планшет, то для начала работы нажмите на иконку меню в верхнем левом углу.
            <hr>
            Если у Вас возникли вопросы или предложения, <a class="enter-site__link" href="mailto:huji@mail.ru">сообщите администратору</a>
        </article>
    </main>
{% endblock %}