{% extends "mysite_apk/base.html" %}

{% block title %}Несоответствие №{{ fault.fault_number }}{% endblock %}

{% load static %}
{% load apk_filters %}
{% csrf_token %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/single-fault-act.css'%}">
{% endblock %}

{% block content %}

    <main class="content">
        <section class="main" id="main">
            <h1 class="main__title">Акт проверки №{{ fault.act.act_number }} от {{ fault.act.act_compile_date }} | Несоответствие №{{ fault.fault_number }}</h1>
            <a class="main__link" href="#">Редактировать несоответствие</a>
            <!-- блок карточки -->
            <h2 class="single-fault__location">{{ fault.location }}</h2>
            <div class="single-fault">
            <div class="single-fault__description {% if fault.danger %}single-fault__description_danger {% endif %}">
                <div class="single-fault__header">
                <h3 class="single-fault__title">Несоответствие</h3>
                <p class="tag tag_{{ fault.group|color_tag }}">{{ fault.group }}</p>
                </div>
                <p class="single-fault__text">{{ fault.description }}</p>
                <p class="single-fault__footer">{{ fault.document }}</p>
                <div class="single-fault__header">
                    <h3 class="single-fault__title">Допустивший несоответствие</h3>
                </div>
                <p class="single-fault__text">{{ fault.intruder }}</p>
                <div class="single-fault__header">
                    <h3 class="single-fault__title">Не выявивший несоответствие</h3>
                </div>
                <p class="single-fault__text">{{ fault.unseeing }}</p>
                <p class="single-fault__finder">{{ fault.inspector }}</p>
            </div>
            <div class="single-fault__images">
                {% include 'apk/apk_ext/image_before.html' with size="640x420" class="single-fault__image" %}
            </div>
            </div>
            <!-- конец карточки -->
        </section>
    </main>

{% endblock %}