{% extends "mysite_apk/base.html" %}

{% block title %}Акт проверки №{{ act.act_number }} от {{ act.act_compile_date }}{% endblock %}

{% load static %}
{% load apk_filters %}
{% csrf_token %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/single-act.css'%}">
{% endblock %}

{% block content %}

    <main class="content">
            <section class="main" id="main">
                <h1 class="main__title">Акт проверки №{{ act.act_number }} от {{ act.act_compile_date|date:"d.m.Y" }}</h1>
                {% if faults.count == 0 %}
                    <div class="main__links">
                        <h3 class="main__stat">Здесь пока отсутствуют записи.</h3>
                    </div>
                    <div class="main__links">
                        {% if request.user.profile.role == request.META.roles.ADMIN or request.user.profile.role == request.META.roles.MANAGER %}
                            <a class="main__stat" href="{% url 'fault_new' control.slug act.act_year act.act_number %}"><image class="main__icon_large" src="{% static 'img/fault-add-icon.png' %}"></a>
                        {% else %}
                            <h3 class="main__stat">Только член ПДК может добавлять несоответствия</h3>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="main__links">
                        <div class="icon-container">
                            {% if request.user.profile.role == request.META.roles.ADMIN or request.user.profile.role == request.META.roles.MANAGER %}
                                <a class="main__link" href="{% url 'fault_new' control.slug act.act_year act.act_number %}"><image class="main__icon_large" src="{% static 'img/fault-add-icon.png' %}"></a>
                            {% endif %}
                            <a class="main__link" href="{% url 'single_plan' control.slug act.act_year act.act_number %}"><image class="main__icon_large" src="{% static 'img/plan-icon.png' %}"></a>
                            <a class="main__link" href="{% url 'export_act_excel' control.slug act.act_year act.act_number %}"><image class="main__icon_large" src="{% static 'img/act-excel.png' %}"></a>
                        </div>
                        <h3 class="main__stat"><image class="main__icon" src="{% static 'img/sum-icon.png' %}"> {{ faults.count }}</h3>
                    </div>
                {% endif %}

            <!-- блок карточек -->
                <ul class="fault-cards list">
                    {% for fault in faults %}
                        <li><a class="fault-cards__link" href="{% url 'single_fault_act' control.slug act.act_year act.act_number fault.fault_number %}">
                            <div class="fault-cards__item {% if fault.danger %}fault-cards__item_danger {% endif %}">
                                <div class="fault-cards__description">
                                    <div class="fault-cards__header">
                                        <h4 class="fault-cards__title">{{ fault.location }}</h4>
                                        <p class="tag tag_{{ fault.group|color_tag }}">{{ fault.group }}</p>
                                    </div>
                                    <p class="fault-cards__text">{{ fault.description }}</p>
                                </div>
                                <!-- фотография несоответствия -->
                                {% include 'apk/apk_ext/image_before.html' with size="640x420" class="fault-cards__image" %}
                            </div>
                        </a></li>
                    {% endfor %}
                </ul>
            
            </section>
        </main>
{% endblock %}