{% extends "mysite_apk/base.html" %}

{% block title %}Мероприятия и корректирующие действия{% endblock %}

{% load static %}
{% load apk_filters %}
{% csrf_token %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/single-fault-plan.css'%}">
{% endblock %}

{% block content %}

    <main class="content">
        <section class="main" id="main">
            <h1 class="main__title">План корректирующих действий к Акту проверки №{{ fault.act.act_number }} от {{ fault.act.act_compile_date }} | Несоответствие №{{ fault.fault_number }}</h1>
            <a class="main__link" href="{% url 'fix_new' fault.act.act_year fault.act.act_number fault.fault_number %}">Добавить мероприятия</a> <!-- нужно сделать выбор редактировать\добавить -->
            
            <!-- блок карточки -->
            <h2 class="single-fault__location">{{ fault.location }}</h2>
            <div class="single-fault">
                <div class="single-fault__description single-fault__description">

                    <!-- отдельный элемент карточки -->
                    <div class="single-fault__header {% if fault.fixed and fault.corrected %} single-fault__header_done {% elif fault.deltatime_fix.1 == 2 or fault.deltatime_correct.1 == 2 %} single-fault__header_deadline {% endif %}">
                        <h3 class="single-fault__title">Несоответствие</h3>
                        <p class="tag tag_{{ fault.group|color_tag }}">{{ fault.group }}</p>
                    </div>
                    <p class="single-fault__text">{{ fault.description }}</p>
                    <p class="single-fault__footer">{{ fault.document }}</p>
                    <!-- конец отдельного элемента карточки -->

                    <!-- отдельный элемент карточки -->
                    <div class="single-fault__header">
                        <h3 class="single-fault__title">Причины несоответствия</h3>
                    </div>
                    <p class="single-fault__text">{{ fault.reason }}</p>
                    <!-- конец отдельного элемента карточки -->

                    <!-- отдельный элемент карточки -->
                    <div class="single-fault__header {% if fault.fixed %} single-fault__header_done {% elif fault.deltatime_fix.1 == 2 %} single-fault__header_deadline {% endif %}">
                        <h3 class="single-fault__title">Устранение</h3>
                        {% if fault.fix_deadline != None %}
                            <p class="single-fault__title">до {{ fault.fix_deadline }} {{ fault.deltatime_fix.0 }}</p>
                        {% endif %}
                    </div>
                    <p class="single-fault__text">{{ fault.fix_action }}</p>
                    {% if fault.fixer != None %}
                        <p class="single-fault__footer">Исполнитель: {{ fault.fixer }}, {{ fault.fixer.job_position }}</p>
                    {% endif %}
                    <!-- конец отдельного элемента карточки -->

                    <!-- отдельный элемент карточки -->
                    <div class="single-fault__header {% if fault.corrected %} single-fault__header_done {% elif fault.deltatime_correct.1 == 2 %} single-fault__header_deadline {% endif %}">
                        <h3 class="single-fault__title">Корректирующее действие</h3>
                        {% if fault.correct_deadline != None %}
                            <p class="single-fault__title">до {{ fault.correct_deadline }} {{ fault.deltatime_correct.0 }}</p>
                        {% endif %}
                    </div>
                    <p class="single-fault__text">{{ fault.correct_action }}</p>
                    {% if fault.corrector != None %}
                        <p class="single-fault__footer">Исполнитель: {{ fault.corrector }}, {{ fault.corrector.job_position }}</p>
                    {% endif %}
                    <!-- конец отдельного элемента карточки -->
                
                    <!-- отдельный элемент карточки -->
                    <div class="single-fault__header">
                        <h3 class="single-fault__title">Необходимые ресурсы</h3>
                    </div>
                    <p class="single-fault__text">{{ fault.resources }}</p>
                    <!-- конец отдельного элемента карточки -->

                </div>
                <div class="single-fault__images">
                    {% include 'apk/apk_ext/image_before.html' with size="640x420" class="single-fault__image" %}
                    {% include 'apk/apk_ext/image_after.html' with size="640x420" class="single-fault__image" %}
                </div>
            </div>
            <!-- конец карточки -->
        </section>
    </main>

{% endblock %}