.header__link {
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    transition: opacity .2s linear .1s;
    text-decoration: none;
    color: black;
}

.header__link:hover {
    opacity: 0.7;
}