<div class="infobar" id="infobar">
  <div class="infobar__helper">
    <div class="infobar__header">
      <h3 class="infobar__title">Полезная информация</h3>
    </div>
    <p class="infobar__text">{{ request.META.quote.text }}</p>
    <p class="infobar__footer">{{ request.META.quote.source }} / {{ request.META.quote.article }} /</p>
  </div>
  <div class="infobar__informer">
    <div class="infobar__header">
      <h3 class="infobar__title">{{ request.META.last_message.author }}</h3>
      <p class="infobar__date">{{ request.META.last_message.date_created }}</p>
    </div>
    <p class="infobar__text">{{ request.META.last_message.text }}</p>
  </div>
</div>