{% load static %}
<nav class="sidebar" id="sidebar">
    <a class="sidebar__link" href="#">
        <div class="sidebar__user-card">
        <img class="sidebar__user-avatar" src="{% static 'img/avatar.png' %}" alt="Аватар">
        <p class="sidebar__username">{{ request.user.get_full_name }}</p>
        <p class="sidebar__user-proff">{{ request.user.profile.job_position }}</p>
        </div>
    </a>
    <nav class="sidebar__nav">
        {% for point in request.META.all_controls %}
            <a class="sidebar__point-link {% if mark == point.slug %}sidebar__point-link_active{% endif %}" href="{% url 'apk:index_control' point.slug %}">{{ point.title }}</a>
        {% endfor %}
    </nav>
</nav>
