<div class="form-container"> 

    <form class="form" method="get">
        {% csrf_token %}
        {% load apk_filters %}

        {% with filter.form.fault_date as field %}
            <div class="form__group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                {{ field|addclass:'form__input' }}
                {% include 'apk/apk_ext/form_extend/error.html' with field=field %}
            </div>
        {% endwith %}

        {% with filter.form.location as field %}
            <div class="form__group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                {{ field|addclass:'form__input' }}
                {% include 'apk/apk_ext/form_extend/error.html' with field=field %}
            </div>
        {% endwith %}

        {% comment %} {% with filter.form.inspector as field %}
            <div class="form__group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                {{ field|addclass:'form__input' }}
                {% include 'apk/apk_ext/form_extend/error.html' with field=field %}
            </div>
        {% endwith %} {% endcomment %}

        {% comment %} {{ filter.form.as_p }} {% endcomment %}
        {% comment %} <button type="submit">Применить</button> {% endcomment %}
        <div class="form__footer">
            <button class="button button_style_blue" type="submit">Применить</button>
            <a class="button" href="{% url 'index_first_level' control.slug %}">Сбросить</a>
        </div>
    </form>
    
</div>