.sidebar__point-link {
    margin: 10px 0 0 0;
    width: 100%;
    height: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: background .3s linear .1s;
}

.sidebar__point-link:first-child {
    margin-top: 20px;
}

.sidebar__point-link:last-child {
    margin-bottom: 20px;
}

.sidebar__point-link:hover {
    background: #C4C4C4;
}

/* @media screen and (max-width: 800px) {
    .sidebar__point-link:hover {
        background: white;
    }
} */
